<div class="container">
  <h1>ブログユーザー一覧</h1>
  <p><%= notice %></p>
  <ul class="row">
  <% @users.each do |user| %>
     <li class="col-sm-6 col-md-6"><%= link_to user.name, user_path(user.id) %></li> 
  <% end %>
  </ul>
</div>
