<h2><%= @user.name %></h2>
<div class="container">
  <h2><%= image_tag @user.image %></h2>
  <h1>My Posts</h1>
  <p><%= notice %></p>
  <ul class="row">
    <% @user.blogs.each do |blog| %>
    <li class="col-sm-6 col-md-6"><%= link_to(blog.title, blog_path(blog.id)) %></li> 
    <% end %>
  </ul>
</div>