.form_title {
  margin: 10px;
  border-style: solid;
  border-color:#ffead6;
  background:#fff;
  padding: 10px;
  font-size: 15px;
}

.form_content {
  margin: 10px;
  border-style: solid;
  border-color:#ffead6;
  background:#fff;
  padding: 20px;
  font-size: 20px;
}

.form_image {
  position: center;
}